---
http_interactions:
- request:
    method: get
    uri: http://www.moneyexchangeworld.com/rates/rateswithcss.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 10 Mar 2015 18:08:24 GMT
      Etag:
      - '"4ecb3-376d-510f309622f74"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="ISO-8859-1"?>
        <?xml-stylesheet type="text/css" href="currency_table_widget.css"?>
        <CATALOG>
        <TIMESTAMP>Rates updated on 10/03/15 at 14:07:40 </TIMESTAMP>

        <RATE>
        <ISFLAGGED>*</ISFLAGGED>
        <FLAGURL>flags/USD.gif</FLAGURL>
        <ISO>USD</ISO>
        <NAME>Dollars</NAME>
        <COUNTRY>United States of America</COUNTRY>
        <WEBUY>1.250554</WEBUY>
        <WESELL>1.279033</WESELL>
        <INVBUY>0.7996</INVBUY>
        <INVSELL>0.7818</INVSELL>
        </RATE>
        <RATE>
        <ISFLAGGED>*</ISFLAGGED>
        <FLAGURL>flags/EUR.gif</FLAGURL>
        <ISO>EUR</ISO>
        <NAME>Euro</NAME>
        <COUNTRY>Euro Member Countries </COUNTRY>
        <WEBUY>1.343307</WEBUY>
        <WESELL>1.38537</WESELL>
        <INVBUY>0.7444</INVBUY>
        <INVSELL>0.7218</INVSELL>
        </RATE>
        <RATE>
        <ISFLAGGED>*</ISFLAGGED>
        <FLAGURL>flags/GBP.gif</FLAGURL>
        <ISO>GBP</ISO>
        <NAME>Pounds[...]
